<!--<?php print <<<EOT
-->
<style >
.sidebar{width:180px;border-right:1px solid #e4eff5;}
.content_thread{margin-left:180px;border-left:1px solid #e4eff5;_float:left;_margin:0;}
.sidebar ul{line-height:1.8;padding-left:2px;}
.bank_jj li{height:20px;line-height:20px;overflow:hidden; cursor:pointer;}
.bank_jj li.current div{color:#666; cursor:default;}
.bank_jj li.current{height:auto;}
</style>
<div id="breadCrumb">
	<img src="$imgpath/$stylepath/thread/home.gif" class="cp breadHome" /><em class="breadEm"></em><a href="$db_bfn?m=bbs" title="$db_bbsname">$db_bbsname</a><!--
EOT;
print <<<EOT
-->
<em>&gt;</em><a href="$basename">$eze_scriptlang[my_accounts]</a>
<!--
EOT;
print <<<EOT
-->
</div>
<div id="pw_content">
	<div class="f_two cc">
		<div class="sidebar">
			<div class="p15" style="padding-right:10px;">
<!--
EOT;
if(!$action){print <<<EOT
-->
				<h4 class="f14 b">$eze_scriptlang[user_info]</h4>
				<ul class="mb10">
					<li>$eze_scriptlang[user_name]:$windid</li>
				</ul>
<!--
EOT;
}print <<<EOT
-->
				<h4 class="f14 b">$eze_scriptlang[feature_intro]</h4>
				<ul class="bank_jj" id="bank_jj">
					<li class="current">
						1. $eze_scriptlang[bind_3rd_accounts]
						<div class="mb10">
							$eze_scriptlang[bind_3rd_accounts_detail]
              <br/>
						</div>
					</li>
					<li class="current">2. $eze_scriptlang[set_sync_list]
						<div class="mb10">
                $eze_scriptlang[set_sync_list_detail]
            </div>
					</li>
				</ul>
			</div>
		</div>
		<div class="content_thread cc">
			<div class="content_ie" style="min-height:800px;_height:800px;">
<!--
EOT;
if(!$action){print <<<EOT
-->
			<div class="hB" style="padding-left:0;">
				<ul class="tabB cc fl mr20">
					<li class="current"><a href="javascript:;">$eze_scriptlang[my_accounts]</a></li>
				</ul>
			</div>
			<div class="p15">
<!--
EOT;
print <<<EOT
-->
      <form method="post">
			<table width="100%" cellspacing="0" cellpadding="0">
				<tr>
          <td class="h" width="10%">$eze_scriptlang[th_delete]</td>
          <td class="h" width="40%"><b>$eze_scriptlang[th_account]</b></td>
          <td class="h" width="20%"><b>$eze_scriptlang[th_provider]</b></td>
          <td class="h" width="20%"><b>$eze_scriptlang[th_sync]</b></td>
        </tr>
<!--
EOT;
$id=0;
foreach($eze_profiles as $profile){
$id++;
$class=$id%2==0 ? "f_two" : "f_one";
$sync_list = eze_sync_list($profile);
print <<<EOT
-->
        <tr class="tr3 $class">
            <td style="border-right:0" class="smalltxt"><input type="checkbox" name="delete[]" value="$profile[pid]"/></td>
            <td style="border-right:0" >$profile[preferred_username]</td>
            <td style="border-right:0" >$profile[provider_name]</td>
            <td style="border-right:0" >$sync_list</td>
        </tr>
<!--
EOT;
}
print <<<EOT
-->
        <tr class="tr4">
          <td>
          </td>
          <td colspan="3">
              <input type="hidden" name="action" value="save"/>
              <input type="submit" value="$eze_scriptlang[save]"/>
          </td>
        </tr>
			</table>
    </form>
		</div>
<!--
EOT;
}
$widget = eze_login_widget('normal', 350, 190);
print <<<EOT
-->
    <div class="p15">
      <h4 style="margin-left:5px;">$eze_scriptlang[bind_more]</h4>
      <div>
        $widget
      </div>
    </div>
		</div>
	</div>
</div>
	</div>
</div>
<!--
EOT;
?>-->
