<!--<?php print <<<EOT
-->
<style >
.sidebar{width:180px;border-right:1px solid #e4eff5;}
.content_thread{margin-left:180px;border-left:1px solid #e4eff5;_float:left;_margin:0;}
.sidebar ul{line-height:1.8;padding-left:2px;}
.bank_jj li{height:20px;line-height:20px;overflow:hidden; cursor:pointer;}
.bank_jj li.current div{color:#666; cursor:default;}
.bank_jj li.current{height:auto;}
</style>
<div id="breadCrumb">
	<img src="$imgpath/$stylepath/thread/home.gif" class="cp breadHome" /><em class="breadEm"></em><a href="$db_bfn?m=bbs" title="$db_bbsname">$db_bbsname</a><!--
EOT;
print <<<EOT
-->
<em>&gt;</em><a href="$basename">我绑定的帐号</a>
<!--
EOT;
print <<<EOT
-->
</div>
<div id="pw_content">
	<div class="f_two cc">
		<div class="sidebar">
			<div class="p15" style="padding-right:10px;">
<!--
EOT;
if(!$action){print <<<EOT
-->
				<h4 class="f14 b">用户信息</h4>
				<ul class="mb10">
					<li>用户名:$windid</li>
				</ul>
<!--
EOT;
}print <<<EOT
-->
				<h4 class="f14 b">功能简介</h4>
				<ul class="bank_jj" id="bank_jj">
					<li class="current">
						1. 绑定第三方帐号
						<div class="mb10">
							你可以绑定或者解除绑定新浪微博,腾讯微博,人人网等第三方账户。<br />
						</div>
					</li>
					<li class="current">2. 设置同步内容
						<div class="mb10">你可以设置那些内容同步到绑定的微博或社交网络帐号上。</div>
					</li>
				</ul>
			</div>
<!--
<script type="text/javascript">
var tt = li.getElementsByTagName("li");
for(i=0; i<tt.length; i++){
	tt[i].onclick= function(){
		for(j=0; j<tt.length; j++){
			tt[j].className = "";
			this.className  = "current";
		}
	}
}
</script>
-->
		</div>
		<div class="content_thread cc">
			<div class="content_ie" style="min-height:800px;_height:800px;">
<!--
EOT;
if(!$action){print <<<EOT
-->
			<div class="hB" style="padding-left:0;">
				<ul class="tabB cc fl mr20">
					<li class="current"><a href="javascript:;">我绑定的账号</a></li>
				</ul>
			</div>
			<div class="p15">
<!--
EOT;
print <<<EOT
-->
      <form method="post">
			<table width="100%" cellspacing="0" cellpadding="0">
				<tr>
          <td class="h" width="10%">删除</td>
          <td class="h" width="40%"><b>帐号</b></td>
          <td class="h" width="20%"><b>网络</b></td>
          <td class="h" width="20%"><b>同步内容</b></td>
        </tr>
<!--
EOT;
$id=0;
foreach($eze_profiles as $profile){
$id++;
$class=$id%2==0 ? "f_two" : "f_one";
$sync_list = eze_sync_list($profile);
print <<<EOT
-->
        <tr class="tr3 $class">
            <td style="border-right:0" class="smalltxt"><input type="checkbox" name="delete[]" value="$profile[pid]"/></td>
            <td style="border-right:0" >$profile[preferred_username]</td>
            <td style="border-right:0" >$profile[provider_name]</td>
            <td style="border-right:0" >$sync_list</td>
        </tr>
<!--
EOT;
}
print <<<EOT
-->
        <tr class="tr4">
          <td>
          </td>
          <td colspan="3">
              <input type="hidden" name="action" value="save"/>
              <input type="submit" value="保存修改"/>
          </td>
        </tr>
			</table>
    </form>
		</div>
<!--
EOT;
}
$widget = eze_login_widget('normal', 350, 190);
print <<<EOT
-->
    <div class="p15">
      <h4 style="margin-left:5px;">绑定更多帐号</h4>
      <div>
        $widget
      </div>
    </div>
		</div>
	</div>
</div>
	</div>
</div>
<!--
EOT;
?>-->
